# Função: Indica que este é o arquivo de configuração principal (root). Isso significa que, se o EditorConfig encontrar este arquivo, ele não procurará por arquivos de configuração em diretórios superiores.
root = true

# Função: Define que as configurações a seguir são aplicáveis a todos os arquivos no projeto (o * é um "curinga" que corresponde a todos os tipos de arquivos).
[*]

# Função: Define o estilo de indentação no código.
# space: A indentação será feita com espaços.
# Alternativa: Se fosse tab, a indentação seria feita com tabulações.
ident_style = space

# Função: Define o número de espaços que serão usados para cada nível de indentação.
# 2: Cada indentação será feita com 2 espaços.
# Alternativa: Se fosse 4, cada nível de indentação seria feito com 4 espaços.
ident_size = 2

# Função: Define o conjunto de caracteres usado para codificar os arquivos.
# utf-8: O arquivo será codificado usando o padrão UTF-8, que é amplamente utilizado para garantir compatibilidade com caracteres especiais e múltiplos idiomas.
charset = utf-8

# Função: Remove qualquer espaço em branco ou tabulação no final das linhas.
# true: Remove automaticamente os espaços em branco no final de cada linha ao salvar o arquivo.
# Alternativa: Se fosse false, os espaços em branco finais seriam mantidos.
trim_trailing_whitespace = true

# Função: Garante que o arquivo termine com uma linha em branco (um \n no final).
# true: Insere automaticamente uma linha em branco no final do arquivo ao salvar.
# Alternativa: Se fosse false, o arquivo não teria uma linha final em branco.
insert_final_newline = true

# Função: Define o tipo de terminação de linha (como as linhas terminam no arquivo).
# lf: Usa a terminação de linha "Line Feed" (\n), que é o padrão em sistemas UNIX/Linux e no macOS.
# Alternativa: Se fosse crlf, a terminação de linha seria "Carriage Return + Line Feed" (\r\n), que é o padrão no Windows.
end_of_line = lf
